<!DOCTYPE html>
<html>
	<head>
	<title>Awards and Accolades</title>
	<meta charset="UTF>8">
	<body style="background-color:black">
	
	<h1 style="color:pink">Awards and Accolodes
	
<br>

  <h2 style="color:gold"> 1.Grammy Awards 
 <p style="text-align:center"><img src="https://i.ibb.co/KLJY0yP/27bf7bbcec1988cb2a051cbfdeb9df70.jpg" width="200">
 <h6 style="text-align:center;color:grey"> Taylor Swift has won 12 Grammy Awards from 46 nominations. She is the second youngest person to win the Album of the Year award and the twelfth female artist with the most awards. She is the first female artist to win Album of the Year twice and the only to win thrice (with Fearless in 2010, 1989 in 2016, and Folklore in 2021). This makes her only the fourth artist in history to win thrice, behind Frank Sinatra, Stevie Wonder, and Paul Simon.
 <h4 style="color:white"> List of Awards
 <h5 style="color:orange"> • Album of the Year : Fearless
 <h5 style="color:orange"> • Best Country Album : Fearless
 <h5 style="color:orange"> • Best Female Country Vocal Performance : White Horse
 <h5 style="color:orange"> • Best Country Song : White Horse
 <h5 style="color:orange"> • Best Country Solo Performance : Mean
 <h5 style="color:orange"> • Best Country Song : Mean
 <h5 style="color:orange"> • Best Song Written for Visual Media : Safe and Sound (feat. The Civil Wars)
 <h5 style="color:orange"> • Album of the Year : 1989
 <h5 style="color:orange"> • Best Pop Vocal Album : 1989
 <h5 style="color:orange"> • Best Music Video : Bad Blood (feat. Kendrick Lamar)
 <h5 style="color:orange"> • Album of the Year : Folklore
 <h5 style="color:orange" • Best Music Video, Short Film : All Too Well>
 
 <br>
 
 <h2 style="color:gold"> 2. Billboard Music Award
 <p style="text-align:center" ><img src="https://i.ibb.co/02CR9tQ/49d3cf4b0fc54adb4ae1e833b0d20da1.jpg" width="200"> 
 <h6 style="text-align:center;color:grey"> Taylor Swift has been nominated and won numerous awards at the Billboard awards. Due to the amount of wins she had, she had the most wins of any gender until May 2nd, 2019 when Drake surpassed her. This bumped her down to being the female artist with the most Billboard wins. 
 <h4 style="color:white"> List of Awards
 <h5 style="color:orange"> • Top Country Album : Speak Now (2011)
 <h5 style="color:orange"> • Top Billboard Artist 200 : Herself (2011)
  <h5 style="color:orange"> • Top Country Artist : Herself (2011)
  <h5 style="color:orange"> • Woman of The Year : Herself (2012)
  <h5 style="color:orange"> • Top Artist : Herself (2013)
  <h5 style="color:orange"> • Top Female Artist : Herself (2013)
  <h5 style="color:orange"> • Top Hot 100 Artist : Herself (2013)
   <h5 style="color:orange"> • Top Digital Song Artist : Herself (2013)
   <h5 style="color:orange"> • Top Country Artist : Herself (2013)
   <h5 style="color:orange"> • Top Billboard 200 Album: Red (2013)
   <h5 style="color:orange"> • Top Country Album : Red (2013)
   <h5 style="color:orange"> • Top Country Song : We Are Never Ever Getting Back Together (2013)
   <h5 style="color:orange"> • Top Artist : Herself (2015)
   <h5 style="color:orange"> • Billboard Chart Achievement : Herself (2015)
   <h5 style="color:orange"> • Top Female Artist : Her (2015)
   <h5 style="color:orange"> • Top Billboard 200 Album : 1989 (2015)
   <h5 style="color:orange"> • Top 200 Billboard Artist : Herself (2015)
   <h5 style="color:orange"> • Top Hot 100 Artist : Herself (2015)
  <h5 style="color:orange"> • Top Digital Song Artist : Herself (2015)
  <h5 style="color:orange"> • Top Streaming Song : Shake It Off (2015) 
   <h5 style="color:orange"> • Top Touring Artist : Herself (2016)
    <h5 style="color:orange"> • Top Female Artist : Herself (2018)
      <h5 style="color:orange"> • Top Selling Album : Reputation (2018)
       <h5 style="color:orange"> • Top Female Artist : Herself (2021)
     <h5 style="color:orange"> • Top Billboard 200 Artist : Herself (2021)
     <h5 style="color:orange"> • Top  Billboard 200 Artist : Herself (2022)
      <h5 style="color:orange"> • Top Country Artist : Herself (2022)
       <h5 style="color:orange"> • Top Country Female Artist : Herself (2022)
        <h5 style="color:orange" • Top Country Album : Red (Taylor's Version) (2022)>

 <br>
 
 <h2 style="color:gold"> 3. MTV VMA (Video Music Awards)
 <p style="text-align:center" ><img src="https://i.ibb.co/3r98Pv3/59b81e3029021975d88209281f7dbf6d.jpg" width="200">
 <h6 style="text-align:center;color:grey"> Taylor Swift has received 14 awards and 47 total nominations, her first being for Best Female Video in 2010. She was the first country singer to win a VMA.
 <h4 style="color:white"> List of Awards
 <h5 style="color:orange"> • Best Female Video : You Belong With Me
 <h5 style="color:orange"> • Best Female Video : I Knew You Were Trouble
 <h5 style="color:orange"> • Best Female Video : Blank Space
 <h5 style="color:orange"> • Best Pop Video : Blank Space
 <h5 style="color:orange"> • Video Of The Year : Bad Blood (feat. Kendrick Lamar)
 <h5 style="color:orange"> • Best Collaboration: Bad Blood (feat. Kendrick Lamar)
 <h5 style="color:orange"> • Best Collaboration: I Dont Wanna Live Forever (with Zayn Malik)
 <h5 style="color:orange"> • Video Of The Year: You Need To Calm Down
 <h5 style="color:orange"> • Video Of Good: You Need to Calm Down
 <h5 style="color:orange"> • Best Visual Effects: Me! (feat. Brendon Urie)
 <h5 style="color:orange"> • Best Direction: The Man
<h5 style="color:orange"> • Best Direction: All Too Well
<h5 style="color:orange"> • Best Long Form Video: All Too Well
<h5 style="color:orange" • Video Of The Year: All Too Well>

<br>

<h2 style="color:gold"> 4. AMA (American Music Awards)
<p style="text-align:center"> <img src="https://i.ibb.co/vZMstwy/a220bded821775de945587fae44fd5ec.jpg" width="200">
<h6 style="text-align:center;color:grey"> The American Music Awards (abbreviated as the AMAs) is an award show focused in the United States that covers music. Unlike other major music awards, nearly all of its awards are voted by the fans, with some helping off Billboard's charts. Taylor Swift has been been the artist with the most awards received at the show since 2019 when she surpassed Michael Jackson, taking home 6 more awards, for a total of 40 wins as of the 2022 AMAs.

 <h5 style="color:orange"> • Favorite Country Female Artist : Herself (×7)
 <h5 style="color:orange"> • Artist of the Year : Herself (×9)
 <h5 style="color:orange"> • Favorite Pop-Rock Female Artist : Herself (×6)
 <h5 style="color:orange"> • Favorite Adult Contemporary Artist : Herself (×3)
 <h5 style="color:orange"> • Favorite Country Album : Fearless
 <h5 style="color:orange"> • Favorite Country Album : Speak Now
 <h5 style="color:orange"> • Favorite Pop-Rock Album: Red
 <h5 style="color:orange"> • Favorite Country Album: Red
 <h5 style="color:orange"> • Dick Clark Award of Excellence: Herself
 <h5 style="color:orange"> • Song Of The Year: Blank Space
 <h5 style="color:orange"> • Collabortion of the Year: Bad Blood (feat. Kendrick Lamar)
 <h5 style="color:orange"> • Favorite Pop-Rock Album: 1989
 <h5 style="color:orange"> • Tour Of The Year : The Reputation Tour
 <h5 style="color:orange"> • Favorite Pop Rock Album : Reputation
 <h5 style="color:orange"> • Favorite Music Video : You Need To Calm Down
 <h5 style="color:orange"> • Favorite Pop-Rock Album : Lover
 <h5 style="color:orange"> • Artist Of The Decade : Herself
 <h5 style="color:orange"> • Favorite Music Video: Cardigan
 <h5 style="color:orange"> • Favorite Pop-Rock Album: Folklore
 <h5 style="color:orange"> • Favorite Pop Album: Evermore
 <h5 style="color:orange"> • Favorite Music Video: All Too Well
 <h5 style="color:orange"> • Favorite Country Album: Red (Taylor's Version)
 <h5 style="color:orange" • Favorite Pop Album: Red (Taylor's Version)>
 
 <br>
 
 <h2 style="color:pink"> [OTHER AWARDS]
 <p style="text-align:center"><img src="https://i.ibb.co/7tYhBcw/c3d1344238b199b97ccd2bd416ad5ab8.jpg" width="200">
 <h6 style="text-align:center;color:grey"> Taylor Swift has received numerous awards, nominations, and honorary accolades throughout her career.
 <h5 style="color:gold"> - Academy of Country Music Awards (×8)
 <h5 style="color:gold"> - Agd Excellence in Production Design Awards
 <h5 style="color:gold"> - American Country Awards (×4)
 <h5 style="color:gold"> - ARIA music awards (×2)
 <h5 style="color:gold"> - Apple Music Awards
 <h5 style="color:gold"> - A2IM Libero Awards
 <h5 style="color:gold"> - Attitude Awards
 <h5 style="color:gold"> - BBC Music Awards
 <h5 style="color:gold"> - BBC Radio 1 Teen Awards
 <h5 style="color:gold"> - Billboard Touring Awards (×4)
 <h5 style="color:gold"> - Billboard Women In Music (×3)
 <h5 style="color:gold"> - Billboard Year-End Awards
 <h5 style="color:gold"> - BMI Country Awards (×25)
 <h5 style="color:gold"> - BMI London Awards (×4)
 <h5 style="color:gold"> - BMI Pop Awars (×34)
 <h5 style="color:gold"> - Bravo Otto (×3)
 <h5 style="color:gold"> - Brit Awards (×2)
 <h5 style="color:gold"> - Buzz Angle Music Awards (×7)
 <h5 style="color:gold"> - Canadian Country Music Association Awards (×12)
 <h5 style="color:gold"> - Country Music Awards of Australia
 <h5 style="color:gold"> - CMC Music Awards (×3)
 <h5 style="color:gold"> - CMT Music Awards (×8)
 <h5 style="color:gold"> - Critic's Choice Documentary Awards
 <h5 style="color:gold"> - Dance Magazine Awards 
 <h5 style="color:gold"> - Danish Music Awards
 <h5 style="color:gold"> - Do Something Awards
 <h5 style="color:gold"> - Elle Style Awards
 <h5 style="color:gold"> - FIFI Awards (×2)
 <h5 style="color:gold"> - GLAAD Media Awards 
 <h5 style="color:gold"> - Glamour Awards
 <h5 style="color:gold"> - Gold Derby Music Awards (×19)
 <h5 style="color:gold"> - Golden Boot Awards
 <h5 style="color:gold"> - Gracie Awards
 <h5 style="color:gold"> - Grand Remi Awards 
 <h5 style="color:gold"> - Guiness World Records (94)
 <h5 style="color:gold"> - Hit FM Music Awards (4)
 <h5 style="color:gold"> - HITO Music Awards (18)
 <h5 style="color:gold"> - Hollywood Critic's Association Film Awards
 <h5 style="color:gold"> - IFPI Awards (×4)
 <h5 style="color:gold"> - iHeartRadio Music Awards (×19)
 <h5 style="color:gold"> - iHeartRadio Titanium Awards (×2)
 <h5 style="color:gold"> - Japan Gold Disc Music Awards (×7)
 <h5 style="color:gold"> - Joox IndoMalaysia Music Awards (×2)
 <h5 style="color:gold"> - Los40 Music Awards
 <h5 style="color:gold"> - MTV Europe Music Awards (×12)
 <h5 style="color:gold"> - MTV Millenial Awards (×2)
 <h5 style="color:gold"> - MTV Japan
 <h5 style="color:gold"> - MTV Brazil
 <h5 style="color:gold"> - MMVA
 <h5 style="color:gold"> - MBA
 <h5 style="color:gold"> - Myx Music Awards (×3)
 <h5 style="color:gold"> - Nashville Songwriters Award (×11)
 <h5 style="color:gold"> - Nashvill Symphony Ball
 <h5 style="color:gold"> - NMPA
 <h5 style="color:gold"> - National Music Publishers Association 
 <h5 style="color:gold"> - Nickelodeon Kids Choice Awards (×8)
 <h5 style="color:gold"> - NME AWARDS (×3)
 <h5 style="color:gold"> - NRJ MUSIC AWARDS (×2)
 <h5 style="color:gold"> - O Music Awards
 <h5 style="color:gold"> - OFM Awards 
 <h5 style="color:gold"> - People Choice's Awards (×16)
 <h5 style="color:gold"> - Polistar Awards
 <h5 style="color:gold"> - Pops! Awards
 <h5 style="color:gold"> - Primetime Emmy Awards
 <h5 style="color:gold"> - Q Awards
 <h5 style="color:gold"> - Radio Disney Music Awards (×8)
 <h5 style="color:gold"> - RFK CENTER
 <h5 style="color:gold"> - RTHK INTERNATIONAL POP-POLL Awards (×18)
 <h5 style="color:gold"> - Shorty Awards (×2)
 <h5 style="color:gold"> - SiriusXM Indie Awards (×3)
 <h5 style="color:gold"> - Songwriters Hall Of Fame 
 <h5 style="color:gold"> - Teen Choice Awards (×26)
 <h5 style="color:gold"> - Telehit Awards (×3)
 <h5 style="color:gold"> - TMEA (×2)
 <h5 style="color:gold"> - Ticketmaster Awards (×2)
 <h5 style="color:gold"> - UK MVA (×2)
 <h5 style="color:gold"> - V Charts Awards (×8)
 <h5 style="color:gold"> - Weibo Starlight Awards (×8)
 <h5 style="color:gold"> - Young Hollywood Awards 
 <h5 style="color:gold"> - Youtube Music Awards (×2)
 <h5 style="color:gold" - Zebrik Music Awards>
 
 <br>
 <hr>
 
 <h6 style="text-align:center;color:grey"> @group1tle
   <li class="current-item" style="text-align:center;color:black"><a href="www.swiftiehome.html"> Home
